In [1]:
import pandas as pd
df = pd.read_csv("Dataset_2.csv")
df.head()

               Name           Party          Province   Age  Gender
0       Liu, Laurin             NDP            Quebec  22.0  Female
1    Mourani, Maria  Bloc Quebecois            Quebec  43.0  Female
2  Sellah, Djaouida             NDP            Quebec   NaN  Female
3    St-Denis, Lise             NDP            Quebec  72.0  Female
4         Fry, Hedy         Liberal  British Columbia  71.0  Female

In [2]:
# note: this will not render on Github, you'll need to run it locally!

from pivottablejs import pivot_ui

pivot_ui(df,      
    cols= ["Party"],
    rows= ["Province"],
    rendererName= "Horizontal Stacked Bar Chart",
    rowOrder= "value_z_to_a", 
    colOrder= "value_z_to_a",
    rendererOptions= {
        "c3": { "data": {"colors": {
            "Liberal": '#dc3912', "Conservative": '#3366cc', "NDP": '#ff9900',
            "Green":'#109618', 'Bloc Quebecois': '#990099'
        }}}
    }
)

In [3]:
import mitosheet
mitosheet.sheet(analysis_to_replay="id-doutlcqkdm")

MitoWidget(analysis_data_json='{"analysisName": "id-hnbztpfxga", "analysisToReplay": {"analysisName": "id-doutâ€¦

In [6]:
from mitosheet import *; register_analysis("id-doutlcqkdm");
    
# Imported Dataset_1.csv
import pandas as pd
edited_cars = pd.read_csv(r'Dataset_1.csv')

# Pivoted into edited_cars
tmp_df = edited_cars[edited_cars['selling_price'] >= 1000000]
tmp_df = tmp_df[['year', 'selling_price']]
pivot_table = tmp_df.pivot_table(
    index=['year'],
    values=['selling_price'],
    aggfunc={'selling_price': ['mean']}
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
edited_cars_pivot = pivot_table.reset_index()
edited_cars_pivot

    year  selling_price mean
0   1998        1.000000e+06
1   2006        1.050000e+06
2   2009        1.200000e+06
3   2010        2.020000e+06
4   2011        1.272500e+06
5   2012        1.674600e+06
6   2013        1.523615e+06
7   2014        1.715906e+06
8   2015        1.534524e+06
9   2016        1.954154e+06
10  2017        1.968408e+06
11  2018        2.009855e+06
12  2019        2.339075e+06
13  2020        1.400933e+06

In [7]:
import plotly.express as px

# Filter the dataframe so that it does not crash the browser
edited_cars_filtered = edited_cars.head(1000)

# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig = px.bar(edited_cars_filtered, x='year', y='selling_price')
fig.update_layout(
    title='Year vs Selling Price', 
    xaxis = dict(
        title='Year', 
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        title='Selling Price', 
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [8]:
import mitosheet
mitosheet.sheet(analysis_to_replay="id-opfvkckugw")

MitoWidget(analysis_data_json='{"analysisName": "id-opfvkckugw", "analysisToReplay": null, "code": [], "stepSuâ€¦

In [10]:
from mitosheet import *; register_analysis("id-opfvkckugw");
    
# Imported Dataset_2.csv
import pandas as pd
mps = pd.read_csv(r'Dataset_2.csv')

# Pivoted into mps
tmp_df = mps[mps['Age'] >= 70]
tmp_df = tmp_df[['Age', 'Name']]
pivot_table = tmp_df.pivot_table(
    index=['Name'],
    values=['Age'],
    aggfunc={'Age': ['mean']}
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
mps_pivot = pivot_table.reset_index()

                  Name  Age mean
0         Boughen, Ray      75.0
1        Cotler, Irwin      72.0
2      Fantino, Julian      70.0
3            Fry, Hedy      71.0
4     O'Connor, Gordon      73.0
5          Oliver, Joe      72.0
6       St-Denis, Lise      72.0
7  Tilson, David Allan      71.0
8       Turmel, Nycole      70.0

In [11]:
import plotly.express as px
# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig = px.line(mps, x='Name', y='Province', line_shape='linear')
fig.update_layout(
    title='Name vs Province', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")